<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="teamabraham.cerebral_palsy_communicator" >
    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_proj_abraham_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:screenOrientation="landscape">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ImagePopUp" android:theme="@style/myDialogTheme" />
        <activity
            android:name=".categoryActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".youtubeactivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".guitaractivity"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".stamperactivity"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
